// Định nghĩa biến SCSS
$primary-color: #3498db;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    .btn-none {
        background-color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        border: #000000 1px solid;
    }

    .btn-none:hover {
        background-color: #DC0F0F;
        color: #FFFFFF;
        border: none;
    }

    .btn-black {
        background-color: #000000;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        border: #000000 1px solid;
    }

    .btn-black:hover {
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    }

    .btn-primary {
        background-color: #2F80ED;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        border: none;
    }

    .btn-primary:hover {
        background-color: #FFFFFF;
        color: #2F80ED;
        border: none;
    }

    .red-DC0F0F{
        background-color: #DC0F0F;
        color: #FFFFFF;
        border: none !important;
    }

    .custom-select {
        padding: 0.5rem;
        border: 1px solid #ccc; /* Màu viền */
        border-radius: 4px; /* Bo góc */
        font-size: 16px; /* Kích thước chữ */
        width: 100%; /* Chiều rộng 100% */
        max-width: 400px; /* Chiều rộng tối đa */
        transition: border-color 0.2s; /* Hiệu ứng chuyển tiếp cho viền */
        appearance: none; /* Ẩn mũi tên mặc định */
        background-color: #fff; /* Màu nền */
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="gray" stroke-width="1.5"><polyline points="4,7 10,13 16,7" fill="none" /></svg>'); /* Mũi tên tùy chỉnh */
        background-repeat: no-repeat; /* Không lặp lại */
        background-position: right 10px center; /* Định vị mũi tên */
        background-size: 12px; /* Kích thước mũi tên */
      }
      
      .custom-select:focus {
        border-color: #007bff; /* Màu viền khi được chọn */
        outline: none; /* Không hiển thị viền mặc định */
      }
      
      .custom-select option {
        padding: 0.5rem; /* Khoảng cách giữa các tùy chọn */
      }

      .el-dropdown:hover {
        border: 1px solid red !important;
        border-radius: 4px !important;
      }
}

.space {
    flex: 1;
}